@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  /*Primarios*/
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  /*Neutral*/
  --Dark-gray: hsl(0, 0%, 59%);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--Dark-cyan);
  background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 300px bottom 300px, left 300px top 300px;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.card {
  max-width: 320px;
  margin-right: 40px;
  margin-left: 40px;
  background-color: white;
  border-radius: 16px;
}

.card-bg {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
  margin-bottom: -50px;
}

.img-content {
  display: flex;
  justify-content: center;
}

.card-profile {
  overflow: hidden;
  border-radius: 50%;
  border: 8px solid white;
}

.title {
  text-align: center;
  font-size: 18px;
  color: var(--Very-dark-desaturated-blue);
  padding-top: 16px;
  margin-bottom: 6px;
}

.title-num {
  color: var(--Dark-grayish-blue);
  font-weight: 700;
  padding-left: 4.8px;
}

.subtitle {
  text-align: center;
  color: var(--Dark-grayish-blue);
  font-weight: 700;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 24px;
}

.card-items {
  border-top: 0.1px solid rgb(206, 206, 206);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.item h2 {
  color: var(--Very-dark-desaturated-blue);
  font-size: 18px;
  text-align: center;
  padding-top: 1.6px;
  color: var(--Very-dark-desaturated-blue);

}

.item h4 {
  color: var(--Dark-grayish-blue);
  font-size: 9px;
  letter-spacing: 1.6px;
  text-align: center;
  padding-top: 8px;
}

/*Footer*/

.attribution {
   font-size: 11px; text-align: center; 
}
.attribution a {
   color: hsl(228, 45%, 44%); 
}